<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
  	<param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<servlet>
        <servlet-name>UIServiceRemote</servlet-name>
        <servlet-class>org.senro.ui.service.UIServiceRemoteImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>UIServiceRemote</servlet-name>
        <url-pattern>/UIService</url-pattern>
    </servlet-mapping>
    
  	<listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>/app</welcome-file>
	</welcome-file-list>
</web-app>