/**
 * a_   columns
 * b_   column
 * c_   column-inner
 * d_   column-inner-first
 */

div.senro-tree-table {
	white-space: nowrap;
	border: 1px solid #ccc;
	overflow: auto;
	margin: 10px;
	background-color: white;
	line-height: 1.6em;
}

div.senro-tree-table a {
	text-decoration: none;
	color: #3311aa;
	float: left;
}

div.senro-tree-table span.junction,
div.senro-tree-table span.junction-last,
div.senro-tree-table span.plus,
div.senro-tree-table span.minus,
div.senro-tree-table span.corner,
div.senro-tree-table span.icon,
div.senro-tree-table span.indent-line {
	width: 18px;
	float: left;
}

div.senro-tree-table span.junction,
div.senro-tree-table span.junction-last,
div.senro-tree-table span.plus,
div.senro-tree-table span.minus,
div.senro-tree-table span.corner,
div.senro-tree-table span.indent-line,
div.senro-tree-table span.icon,
div.senro-tree-table div.row,
div.senro-tree-table div.row-selected,
div.senro-tree-table div.a_,
div.senro-tree-table span.b_,
div.senro-tree-table span.b_ span.c_ {
	height: 1.6em;
	min-height: 18px;
}

div.senro-tree-table span.icon {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 2px;
	margin-top: -1px;
}

div.senro-tree-table div.row,
div.senro-tree-table div.row-selected {
	/* explorer line-hiding fix */
	_background-position: 0em 1.44em;
}


div.senro-tree-table span.junction,
div.senro-tree-table span.junction-last {
	_margin-left: 3px; /* ie 3px bug fix*/
	cursor: pointer;
}

div.senro-tree-table span.junction {
	background-image: url("tree-images.png");
	background-position: -36px 0px;
	background-repeat: repeat-y;
}

div.senro-tree-table span.junction-last {
	background-image: url("tree-images.png");
	background-position: -72px 0px;
	background-repeat: no-repeat;
}

div.senro-tree-table span.plus,
div.senro-tree-table span.minus,
div.senro-tree-table span.corner {
	background-repeat: no-repeat;
}

div.senro-tree-table span.plus {
	background-image: url("tree-images.png");
	background-position: 0px center;
}

div.senro-tree-table span.minus {
	background-image: url("tree-images.png");
	background-position: -18px center;
}

div.senro-tree-table span.corner {
	background-image: url("tree-images.png");
	background-position: -54px center;
}

div.senro-tree-table span.indent {
	clear: left;
	float: left;
}

div.senro-tree-table a:hover {
	text-decoration: underline;
}

div.senro-tree-table span.indent-blank {
	width: 18px;
	height: 1em;
	float: left;
}

div.senro-tree-table span.indent-line {
	_margin-left: 3px;	/* ie 3px bug fix*/
	overflow: hidden;
	background-image: url("tree-images.png");
	background-position: -36px 0px;
	background-repeat: repeat-y;
}

div.senro-tree-table div.row,
div.senro-tree-table div.row-selected {
	overflow: hidden;
	_width: 100%; /* ie float container height bug */
}

div.senro-tree-table div.row,
div.senro-tree-table div.row-selected,
div.senro-tree-table div.a_,
div.senro-tree-table span.b_,
div.senro-tree-table span.b_ span.c_ {
	overflow: hidden;
	width: auto;
}


div.senro-tree-table div.row-selected  {
	background-color: #E0E8FF;
}

div.senro-tree-table a {
	-moz-outline: none;
}

div.senro-tree-table div.row a.node-link:active,
div.senro-tree-table div.row-selected a.node-link:active {

}

div.senro-tree-table a.node-link span {
	cursor: pointer;
}

div.senro-tree-table div.row-selected a.node-link span {
	font-weight: bold;
}

div.senro-tree-table div.row ,
div.senro-tree-table div.row-selected
/* div.senro-tree-table div.row-selected span.b_ */ {
	background-image: url("dotted-line.png");
	background-repeat: repeat-x;
	background-position: bottom;
}

div.senro-tree-table span.b_ {
	float: left;
}

div.senro-tree-table span.b_ span.c_ {
	border-left: 1px solid #ddd;
	padding-left: 6px;
	margin-left: 6px;
	display: block;
}

div.senro-tree-table span.c_,
div.senro-tree-table span.d_ {
	width: 2000px !important;
}

div.senro-tree-table span.b_ span.d_ {
	padding-left: 6px;
	margin-left: 6px;
	display: block;
}

div.senro-tree-table div.row,
div.senro-tree-table div.row-selected,
div.senro-tree-table div.header {
	padding-right: 6px;
}


div.senro-tree-table div.row-selected span.b_ {
	font-weight: normal;
}

div.senro-tree-table div.header {
	border-bottom: 1px solid #ddd;
	height: 1.6em;
	overflow: hidden;
	margin-bottom: 0.1em;
	font-weight: bold;
	background-color: #eee;
	width: auto;
}

div.senro-tree-table div.filter {
	border-bottom: 1px solid #ddd;
	height: 1.6em;
	overflow: auto;
	margin-bottom: 0.1em;
	font-weight: bold;
	background-color: #eee;
	width: auto;
}


div.senro-tree-table div.senro-tree-table-body {
	background-color: white;
	overflow: auto;
}
