<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- ========================= Metadata ========================= -->
    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location">
            <value>classpath:hibernate.properties</value>
        </property>
    </bean>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:test"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" autowire="byName">

        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="configurationClass">
            <value>org.hibernate.cfg.AnnotationConfiguration</value>
        </property>
        <property name="hibernateProperties">
            <ref local="hibernateProperties"/>
        </property>
    </bean>

    <bean id="reflectionProvider" class="org.senro.metadata.provider.reflection.ReflectionMetadataProvider"/>
    <bean id="hibernateProvider" class="org.senro.metadata.provider.annotation.HibernateMetadataProvider">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="metadataFactory" class="org.senro.sandbox.simple.SimpleMetadataFactory">
        <property name="metadataProviders">
            <list>
                <ref bean="reflectionProvider"/>
                <ref bean="hibernateProvider"/>
            </list>
        </property>
    </bean>

    <bean id="metadataManager" class="org.senro.metadata.aop.AOPMetadataManager">
        <property name="metadataFactory" ref="metadataFactory"/>
        <property name="types">
            <bean id="persistenceService.allTypes"
                  class="org.springframework.beans.factory.config.PropertyPathFactoryBean"/>
        </property>
    </bean>


    <!-- <bean id="productService" class="org.blah.service.ProductService" /> -->
    <!-- Message source for this context, loaded from localized "messages_xx" files -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>messages</value>
        </property>
    </bean>


    <!-- ========================= RESOURCE DEFINITIONS ========================= -->


    <bean id="autoproxy" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          autowire="autodetect"/>
    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor"
          autowire="byName"/>
    <bean id="transactionAdvisor" class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor"
          autowire="autodetect"/>
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
          autowire="autodetect"/>
    <bean id="transactionAttributeSource"
          class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>

    <bean id="persistenceService" class="org.senro.persistence.hibernate.HibernatePersistenceService"
          autowire="autodetect"/>


    <bean id="wicketApplication" class="org.senro.servlet.SenroApplication"/>
    <bean id="componentFactory" class="org.senro.component.ComponentFactory" singleton="true" init-method="getInstance">
        <property name="metadataManager" ref="metadataManager"/>
        <property name="persistenceService" ref="persistenceService"/>
    </bean>

</beans>
