th {
	background: #C3C3C3;
	color: white;
	font-weight: bold;
}

tr.none {
	background: transparent;
}

a.none {
	background: transparent;
	padding-right: 0px;
}

body, input, select, td, textarea{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

h1, h2, h3, h4, h5, h6, p, strong, div, form, acronym, label, table, td, th, span, a, hr, code, pre, hr {
    font-size: 1em;
    background-repeat:no-repeat;
    list-style-type:none;
}

a, a:visited, a:hover {
    color:#666; text-decoration:none;
}

.re_table {
    border: 1px solid #666;

    width: auto;
    margin: 20px 0 20px 0;
}

th, td {
    padding: 2px 4px 2px 4px;
    text-align: left;
    vertical-align: top;
}

thead tr {
  background-color: orange;
}

th a, th a:visited {
  color: black;
}
th a:hover {
  text-decoration: underline;
  color: black;
}
th.sorted a, th.sortable a {
    background-position: right;
    display: block;
}
th.sortable a {
    background-image: url(/senro-example/images/arrow_off.png);
}
th.sorted {
    background-color: orange;
}
th.order1 a {
    background-image: url(/senro-example/images/arrow_down.png);
}
th.order2 a {
    background-image: url(/senro-example/images/arrow_up.png);
}

tr.odd {
  background-color: #fff;
}
tr.even {
  background-color: #fea;
}
tr.selected {
  background-color: #00ff00;
}
td a {
	display: block;
}

input.filterColumn {
  border-style: groove;
}

